<div class="container margenes">
    <div class="row">
        <div class="col">
            <h2>Modificar la novedad número {{novedad.id}}</h2>
            <br>
            <br>
           
            <form action="/admin/novedades/modificar" method="post">
             <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">
                    <label class="form-label">Título</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo" value="{{novedad.titulo}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Subtítulo</label>
                   <textarea class="form-control" name="subtitulo" rows="3">{{novedad.subtitulo}}</textarea>
                </div>
                 <div class="mb-3">
                    <label class="form-label">Cuerpo</label>
                   <textarea class="form-control" name="cuerpo" rows="10">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Modificar</button>
            </form>
          {{#if error}}
          <p>{{message}}</p>
        {{/if}}
        </div>
    </div>
</div>